# Ignore local HTTPS certs and keys
ca.crt
ca.key
cert.crt
cert.key
*.pem
*.crt
*.key

# Ignore certs inside server/ too
server/**/*.pem
server/**/*.crt
server/**/*.key

# Node.js dependencies and artifacts
node_modules/
npm-debug.log*
.env

# Editor and system clutter
.vscode/
.DS_Store
Thumbs.db

# Logs
logs/
*.log
